In [62]:
import pandas as pd

In [63]:
pop_24 = pd.read_excel('../data/27876_132.xlsx', skiprows=5)
df_commune_responses_combined = pd.read_csv("../data/commune_responses_combined.csv")
df_commune_responses_combined.head()

C:\Users\Admin\AppData\Local\Temp\ipykernel_20936\104749746.py:2: DtypeWarning: Columns (0,3,8,10,32,61,62,65,68,70,72,74,76,80,81,82,89,90,91,92,93,94,98,99,100,101,102,104,105,106,107,108,109,179,180,181,182,183,184,185,186,187,188,189,190,637,638,639,640,641,642) have mixed types. Specify dtype option on import or set low_memory=False.
  df_commune_responses_combined = pd.read_csv("../data/commune_responses_combined.csv")

,Unnamed: 0,GSB23_Q99,GSB23_Q100,GSB23_Q101,GSB23_Q10,GSB23_Q4,GSB23_Q5,GSB23_Q6,GSB23_Q7,GSB23_Q8,...,GSB09_30_1,GSB09_30_2,GSB09_30_3,GSB09_31A,GSB09_31B,GSB09_32,GSB09_33,GSB09_34A_1,GSB09_34A_2,GSB09_34A_3
0,0,1.0,1.0,NaN,1.0,1.0,3.0,2.0,1.0,-2.0,...,,,,,,,,,,
1,1,1.0,2.0,NaN,2.0,2.0,2.0,2.0,2.0,99.0,...,,,,,,,,,,
2,2,1.0,3.0,NaN,2.0,2.0,2.0,5.0,2.0,2.0,...,,,,,,,,,,
3,3,1.0,4.0,NaN,2.0,2.0,99.0,99.0,99.0,-2.0,...,,,,,,,,,,
4,4,1.0,5.0,NaN,1.0,3.0,2.0,99.0,4.0,-2.0,...,,,,,,,,,,

In [64]:
pop_24.columns = ["Region-ID", "Regionname", "Population", "Density"]
pop_24 = pop_24[["Region-ID", "Density"]]
pop_24["Region-ID"] = pd.to_numeric(pop_24["Region-ID"], errors="coerce").astype("Int64")
# Clean the data
pop_24["Density"] = pd.to_numeric(pop_24["Density"], errors="coerce")

In [65]:
pop_24['Region-ID'] = pop_24['Region-ID'].astype('float')
pop_24.head()

   Region-ID      Density
0        1.0   252.591656
1        2.0  1214.258735
2        3.0   764.199192
3        4.0   292.205882
4        5.0   606.891271

In [66]:
df_commune_responses_combined = pd.merge(df_commune_responses_combined, pop_24, left_on = "gemid", right_on="Region-ID", how="left")

In [67]:
df_commune_responses_combined.head()

,Unnamed: 0,GSB23_Q99,GSB23_Q100,GSB23_Q101,GSB23_Q10,GSB23_Q4,GSB23_Q5,GSB23_Q6,GSB23_Q7,GSB23_Q8,...,GSB09_30_3,GSB09_31A,GSB09_31B,GSB09_32,GSB09_33,GSB09_34A_1,GSB09_34A_2,GSB09_34A_3,Region-ID,Density
0,0,1.0,1.0,NaN,1.0,1.0,3.0,2.0,1.0,-2.0,...,,,,,,,,,296.0,537.192343
1,1,1.0,2.0,NaN,2.0,2.0,2.0,2.0,2.0,99.0,...,,,,,,,,,297.0,171.351168
2,2,1.0,3.0,NaN,2.0,2.0,2.0,5.0,2.0,2.0,...,,,,,,,,,298.0,350.912885
3,3,1.0,4.0,NaN,2.0,2.0,99.0,99.0,99.0,-2.0,...,,,,,,,,,NaN,NaN
4,4,1.0,5.0,NaN,1.0,3.0,2.0,99.0,4.0,-2.0,...,,,,,,,,,449.0,60.252600

In [69]:
df_commune_responses_combined.to_csv("../data/commune_responses_combined_with_pop.csv")